.vs/config/applicationhost.config
.vs/NopCommerce/config/applicationhost.config
.vs/NopCommerce/v14/.suo
.vs/NopCommerce/v16/.suo
.vs/NopCommerce/v16/Server/sqlite3/db.lock
.vs/NopCommerce/v16/Server/sqlite3/storage.ide
.vs/NopCommerce/v16/Server/sqlite3/storage.ide-shm
.vs/NopCommerce/v16/Server/sqlite3/storage.ide-wal
